.input1{
     border: '1px solid black';
     border-radius: '2px' 
}
.input2{
    color: white;
    background-color: blue;
}
.info{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
}
.cards{
        background-color: 'lightgrey';
        border: '2px solid black';
        border-radius: 10px;
}
.photos{
        display: 'flex';
        flex-direction: 'row';
        justify-content: 'center';
      
}